<div class='modal-gallery'>
  <img src={{images.5.url}} alt='{{name}}' class='modal-img-gallery' />
  <div class='poster-img'>
    <img class='modal-img' src={{images.5.url}} alt='{{name}}' />
  </div>
  <div class='modal-info'>
    <h3 class='info-title'>INFO</h3>
    <p class='info-text'>{{name}} </p>
    <h3 class='info-title'>WHEN</h3>
    <p class='info-text'>{{dates.start.localDate}}
      <br />
      {{dates.start.localTime}}
      ({{dates.timezone}})
    </p>
    <h3 class='info-title'>WHERE</h3>
    <p class='info-text'>{{_embedded.venues.0.city.name}},
      {{_embedded.venues.0.country.name}}
      <br />
      {{_embedded.venues.0.name}}
    </p>
    <h3 class='info-title'>WHO</h3>
    <p class='info-text'>{{_embedded.attractions.0.name}}</p>
    <h3 class='info-title'>PRICES</h3>
    {{#if priceRanges}}
      {{#each priceRanges}}
        <p class='info-text price-text'>
          <svg class='code' aria-label='Штрих-код'>
            <use href='./images/sprite.svg#icon-code'></use>
          </svg>
          {{this.type}}
          {{this.min}}
          -
          {{this.max}}
          {{this.currency}}
        </p>
         <a href={{../url}} class="btn-buy-ticket link" target="_blank">BUY TICKETS</a>
      {{/each}}
    {{/if}}
    {{#unless priceRanges}}
      <p class='info-text prise-text'>Tickets are not yet available. Please, try again later.</p>
    {{/unless}}
    <button type='button' class='button button-more-info' data-action='more-info'>
      MORE FROM THIS AUTHOR
    </button>
  </div>

</div>